.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.header-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-img{
    margin-right: 40px;
}

.header-menu{
    flex-grow: 3;
}

.cards-row{
    display: flex;
    align-content: row;
    flex-wrap: wrap;
}
.footer-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
